<h1><%= link_to @season.year + ' Players', season_players_path %></h1>

<div data-pjax-container>
  <table class="players table table-striped table-bordered table-hover">
    <tr>
      <th> Team </th>
      <th> Name </th>
      <th> Position </th>
      <th> <%= column_sort_tag 'AVG' %> </th>
      <th> <%= column_sort_tag 'HR' %> </th>
      <th> <%= column_sort_tag 'RBI' %> </th>
      <th> <%= column_sort_tag 'RUNS' %> </th>
      <th> <%= column_sort_tag 'SB' %> </th>
      <th> <%= column_sort_tag 'OPS' %> </th>
    </tr>
    <%= render @players %>
  </table>

  <%= paginate @players %>

</div>

<h6>Page loaded at <%= Time.now.to_s %></h6>